html {
  height: 100%;
}

body {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(135,255,255,1) 100%);
  background-repeat: no-repeat;
  height: 100%
  margin: 0;
  padding: 0;
}

p {
  text-align: left;
  font-family: Arial
  font-size: 18px;
}

.pfooter {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgb(0,0,0,100);
}