html {
  font-family: 'Chakra Petch';
  background-color: #0a0d20;
  text-wrap: wrap;
}

.nav {
  color: #e3ff67;
  font-size: 40px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  top: auto;
  z-index: 2;
  position: fixed;
  overflow-x: hidden;
  margin: auto;
  padding: 15px;
  cursor: pointer;
}

.logo {
  background-color: #1a256e;
  color: #2bc7db;
  text-align: center;
  font-size: 20px;
  font-family: 'MuseoModerno';
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  top: auto;
  z-index: 1;
  position: sticky;
  overflow-x: hidden;
  margin: auto;
  padding: 15px;
}

.logo a {
  display: inline-block;
  color: #2bc7db;
  text-align: left;
  text-decoration: none;
  width: 100%;
  height: 40px;
}

.logo a:visited {
  color: #2bc7db;
}

.logo a:hover {
  color: #ffffff;
  transition: all 0.25s ease 0s;
}

.page-body {
  color: #afafaf;
  text-wrap: wrap;
  width: 75vw;
  margin: auto;
  padding: 10px;
}

.tableheader {
  background-color: #000000;
  padding: 10px;
}

/* Divider */
hr.rounded {
  border-top: 2px solid #afafaf;
  border-radius: 1px;
  margin-bottom: 20px;
}

/* Collapsible */
.collapsible {
  font-family: 'Chakra Petch';
  font-size: 18px;
  background-color: #afafaf;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  border: none;
  text-align: left;
  text-wrap: wrap;
  outline: none;
}

/* Collapsible state style */
.active, .collapsible:hover {
  background-color: #2bc7db;
  transition: all 0.25s ease 0s;
}

/* Collapsible hidden content */
.content {
  color: #2bc7db;
  text-align: left;
  text-wrap: wrap;
  padding: 0 18px;
  margin-top: 0px;
  display: none;
  overflow: hidden;
  background-color: #1a256e;
}

/* Table */
table, td, th, tr {
  overflow: hidden;
  table-layout: fixed;
  padding: 0px;
  padding-left: 5px;
  text-align: left;
  text-wrap: wrap;
  /* border: 1px solid red; */
}

/* Status - Closed */
.status-closed {
  background-color: #aaffaa;
  color: #000000;
  border-radius: 5px;
  max-height: 5vh;
}

/* Image */
.image {
  width: fit-content;
  max-width: 100%;
  padding: 5px;
}

/* PDF */
.pdf {
  display: block;
  margin: auto;
  padding: 10px;
  width: 75%;
  height: 75vh;
}

/* Fonts */
.museomoderno-regular> {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Fonts */
.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Fonts */
.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Fonts */
.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Fonts */
.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Selection Color */
::selection {
  color: #000000;
  background: #e3ff67;
}

/* Selection Color for Firefox*/
::-moz-selection {
  color: #000000;
  background: #e3ff67;
}

/* Scroll to Top Button */
#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #e3ff67;
  cursor: pointer;
  padding: 16px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
  color: black;
  font-size: 20px;
  font-family: 'Chakra Petch';
  font-weight: 700;
}

/* Scroll to Top Button */
#topButton:hover {
  background-color: #2bc7db;
  transition: all 0.25s ease 0s;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.25s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #e3ff67;
  transition: all 0.25s ease 0s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .logo {
    font-size: 18px;
    padding: 0px;
  }
  .page-body {
    width: 95vw;
    margin: auto;
    padding: 0px;
  }
  .collapsible {
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
  }
  .status-closed {
    border-radius: 5px;
    max-height: auto;
  }
}